.navbar{
    border-radius: 10px;
}

.card{
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #443f3f ;
    color: white;
    border-radius: 10% !important;
    box-shadow: 1px 2px 30px 3px rgb(68, 173, 179) !important ;
    background-color: rgba(49, 49, 49, 0.4);
    transition: all 0.3s ease-in-out;


}

#scrollUp{
    position: fixed;
    bottom : 30px;
    margin-right: 20px;
}

body{background-color: rgb(59, 57, 57);}
header{
	background-image:url("logo-haribo") ;
	background-size: cover; 
	background-position: center ;
}
img{
    border-radius: 20%;
    background-color: rgb(255, 255, 255);

}
*{
    color:rgb(216, 216, 216);
}
body{
    display: block;
    position: relative;
    min-height: 100vh ;
    background-color:#000 !important;
    margin: 0;
  
  }
  
  body::after {
    content: '';
    position: absolute;
    background-image: url(Images/back4.gif);
    background-size:contain;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-attachment:fixed;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    
  }